DATABASE_URL="postgresql://tahfidzh:tahfidzh@localhost:5432/tahfidzh_mj?schema=public"
NEXT_PUBLIC_APP_NAME="Tahfidzh MJ"
QURAN_DATA_PROVIDER="equran"
CLOUDFLARE_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME="tahfidzh-mj-audio"
R2_PUBLIC_BASE_URL="https://audio.mushollamj.com"
NEXT_PUBLIC_R2_AUDIO_BASE_URL="https://audio.mushollamj.com"
